html, body {
    height: 100%;
    margin: 0;
}

input.uppercase {
    text-transform: uppercase;
}
.login-parallax {
    background: url('../media/laptop-wallpaper.jpg')    ;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 94.6%;
    box-shadow: 0 5px 8px rgba(0,0,0,0.3);
    z-index: 1;
}
.container.content {
    border:#34221c; 
    background-color: rgba(255, 229, 255,0.5); 
    font-size: 20px;    
    padding: 45px;
    border: rgba(0,10,0,0.2) solid;
    border-width: 0.4px;
    box-shadow: 5px 5px 19px rgba(0,100,225,0.9);
}
.content > p {
 color: rgba(0,9,0,1.0);
 font-style: oblique;
 text-shadow : -0.1px 0.1px 0.5px rgba(0,30,255,0.9);
}
.login {
    position: absolute;
    bottom: 40%;
    left: 40%;
    font-variant-caps: small-caps;
    background-color:rgba(255,255,255,0.4);
    padding: 30px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255,255,255,0.9);;
    box-shadow: 15px 15px 25px rgba(255,229,255,0.5), -15px -15px 25px rgba(255,229,255,0.5);
    overflow: hidden;
}
.login button {
    border-radius: 50%;
    
}
.caption .text {
    color: white;
    text-align: center;
    color:darkmagenta;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.6);
}

.thumbnail {
    box-shadow: 7px 7px 9px rgba(51, 0, 51, 0.4);   
}

.thumbnail .imagesize {
    width: 200px;
    height: 120px;
}

.usn-block {
    position: absolute;
    bottom: 3%;
    left: 40%;
    background-color:rgba(0, 0, 0,0.4);
    padding: 30px;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(0,0,0,0.9);;
    box-shadow: 7px 7px 9px rgba(0, 0, 0, 0.4);
}

.company {
    align-self: center;
    box-shadow: 1px 10px 9px rgba(0,0,0,0.9);
}
.heading {
    position: relative;
    float: left;
    top: 2%;
    left : 2%;
    font-family: 'Vollkorn', serif;
    font-style: oblique;
    font-stretch: expanded;
    font-size: 55px;
    color: rgba(0,0,0,0.7);
    text-shadow: 2px -4px 4px rgba(0,0,0,0.8);
}
.btn-about {
    position: relative;
    float: right;
    top: 3.5%;
    right: 4.8%;
}
.btn-signin {
    position: relative;
    float: right;
    top: 3.5%;
    right: 2.3%;
}
.hometitle {
    font-family: 'Vollkorn', serif;
    font-size: 10px;
    text-align: left;
}
.homeparallax {
    background: url('../media/laptop-wallpaper.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    box-shadow: 0 5px 8px rgba(0,0,0,0.3);
    z-index: 1;
}

.homeparallaxbottom {
    background: url('../media/shutterstock_62093011.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 40px;
    width: 100%;
    box-shadow: 0 5px 8px rgba(0,0,0,0.3);
    z-index: 1;
    overflow :hidden;
}

.header {
    position:fixed;
    padding: 1px;
    font-size: 18px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.panel-footer-customized {
  padding: 10px 15px;
  background-color: #fcacdc;
  border-top: 1px solid #f2f22f;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel-heading-custom {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel-primary > .panel-heading-custom {
  color: #fff;
  background-color: #38cab7;
  border-color: #337ab7;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 3px;
    overflow: hidden;
    background-color: #00134d;
    text-shadow: initial;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

ul.topnav li a:hover.active {
  background-color: #bb134d;
  color: #fff;
transition: all .3s;
transform:scale(.9,.8);
 }

ul.topnav li a:hover:not(.active) {
  background-color: #fff;
  color:#00134d;
  text-shadow: 1px 0px #000;
    transform:scale(.9, .8);
    transition: all .4s;
}

ul.topnav li a.active {
  background-color: #fff;
  color: #00134d;
}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

.bottom-right-left {
  border-bottom-right-radius:20px;
  border-bottom-left-radius:20px;
}
.top-right-left{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.colorgraph {
  height: 15px;
  border-top: 1px;
  background: #111;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
.footer {
   padding: 10px;
   height: 50px;
   background: #00134d;
   color: #ffffff;
   text-align: center;
}

.error-text {
  font-family: Verdana;
  font-size: 18px;
  font-style: italic;
  color: red;
}
.line-border{
    border-radius: 25px;
    vertical-align: text-bottom;
    border: 2px solid #44fc13;
    padding: 10px; 
    width: 200px;
}

.solid-border{
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
}

.image-border{
    border-radius: 25px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px; 
    width: 200px;
    height: 150px; 
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .1s;
    background-image: none;
    text-shadow: none;
    border-width: 2px;
    border-radius: 10px;
}
.btn-primary.btn-outline {
    color: #2B669A;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
    background: #8831a2;
}

.btn-primary.btn-outline:hover{
    color: #fff;
    background: #8831a2; 
}

.btn-success.btn-outline:hover{
    color: #fff;
    background: #5cb85c;    
}

.btn-info.btn-outline:hover{
    color: #fff;
    background: #5bc0de;   
}

.btn-warning.btn-outline:hover{
    color: #fff;
    background: #f0ad4e;     
}

.btn-danger.btn-outline:hover {
    color: #fff;
    background: #d9534f;      
}

.btn-custom1.btn-outline {
    color: #000;
    border-color: #000;
    overflow: hidden;
    padding: 15px;
    box-shadow: 5px -6px 5px rgba(133,122,0, 0.4);
}

.btn-custom1.btn-outline:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.9);;
    transition-duration: .25s;
    border-color: #000;
    box-shadow: 0 0 0 rgba(133,122,0, 0.4);
}