
.colorgraph {
  height: 15px;
  border-top: 1;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
.footer {
   position:fixed;
   left: 0;
   right: 0;
   bottom:0;
   width:100%;
   height:50px;   
   background: #990099;
   padding: 10px;
   text-align: center;
}

.error-text {
  font-family: Verdana;
  font-size: 18px;
  font-style: italic;
  color: red;
}
.line-border{
    border-radius: 25px;
    vertical-align: text-bottom;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 200px;
}

.solid-border{
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
}

.image-border{
    border-radius: 25px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px; 
    width: 200px;
    height: 150px; 
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .1s;
    background-image: none;
    text-shadow: none;
    border-width: 2px;
    border-radius: 10px;
}
.btn-primary.btn-outline {
    color: #2B669A;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover{
    color: #fff;
    background: #428bca;  
}

.btn-success.btn-outline:hover{
    color: #fff;
    background: #5cb85c;    
}

.btn-info.btn-outline:hover{
    color: #fff;
    background: #5bc0de;   
}

.btn-warning.btn-outline:hover{
    color: #fff;
    background: #f0ad4e;     
}

.btn-danger.btn-outline:hover {
    color: #fff;
    background: #d9534f;      
}